version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: chatbot-frontend
    ports:
      - "3000:3000"
    environment:
      - VITE_BACKEND_URL=http://192.168.56.11:5000
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: chatbot-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - DATABASE_URL=postgresql://zenstack:zenstack123@192.168.56.12:5432/zenstack_db
      - NODE_ENV=production
      - AI_SERVICE_URL=http://ai-service:8000
    depends_on:
      - ai-service
    restart: unless-stopped

  ai-service:
    build: ./ai-service
    container_name: chatbot-ai
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - GROQ_API_KEY=${GROQ_API_KEY}
      - GROQ_MODEL=llama-3.3-70b-versatile
      - BACKEND_URL=http://backend:5000
    restart: unless-stopped
